<div class="card card-body">

  <h3 class="text-<% gig.gig_type.color %>">
    <i class="fa fa-<%= gig.gig_type.icon %>"></i>
  <%= gig.name %></h3>


  <p> <%= gig.description %><br> </p>
  <p class="text-muted">  Due by: <%= gig.deadline%>
  </p>

<!-- <p class="text-muted"> <%= gig.gig_type %></p> -->

</div>
